# 3rd party CLI for DuckDB
duckcli>=0.2.1

# Database adapter
dbt-duckdb>=1.7.3,<1.8.0

# dbt Core 1.
dbt-core>=1.7.9,<1.8.0

# extra features
sqlfluff>=2.3.5,<3

# Airflow client
apache-airflow-client==2.9.0

# CI checks
black==24.4.2
flake8==7.0.0
mypy==1.10.0
isort==5.13.2